@import "tailwindcss";

button {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-weight: bolder;
}

button:hover {
    background-color: gray;
    transition: background-color ease 0.3s;
}